---
import PageContainer from "@components/ui/PageContainer.astro";
import SkeletonCard from "@components/ui/skeletons/SkeletonCard.astro";
---

<PageContainer>
  <div class="skeleton-debounced">
    <div class="grid lg:grid-cols-3 gap-6 mb-8">
      <section
        class="lg:col-span-2 py-8 px-6 md:px-8 rounded-2xl bg-base-200/50 border border-base-300 shadow-md flex flex-col justify-center"
      >
        <div class="mb-6 text-left space-y-2.5">
          <div class="skeleton h-8 w-48 rounded"></div>
          <div class="skeleton h-4 w-96 rounded"></div>
        </div>

        <div class="w-full relative group">
          <div
            class="join w-full shadow-md rounded-xl overflow-hidden border border-base-300 bg-base-100"
          >
            <div class="relative flex-1">
              <div
                class="absolute inset-y-0 left-4 flex items-center pointer-events-none"
              >
                <div class="skeleton size-6 rounded"></div>
              </div>
              <div class="skeleton h-14 w-full rounded-lg"></div>
            </div>
          </div>
        </div>
      </section>

      <div
        class="group relative flex flex-col justify-center p-6 lg:p-8 rounded-2xl border border-accent/20 bg-linear-to-br from-accent/5 via-transparent to-transparent backdrop-blur-md overflow-hidden"
      >
        <div
          class="absolute -bottom-12 -right-12 size-48 bg-accent/10 rounded-full blur-3xl"
        >
        </div>

        <div class="flex items-center gap-4 mb-4 relative z-10">
          <div
            class="size-12 rounded-xl bg-accent/10 flex items-center justify-center text-accent shrink-0 shadow-inner"
          >
            <div class="skeleton size-6 rounded-lg"></div>
          </div>
          <div class="space-y-2">
            <div class="skeleton h-5 w-28 rounded"></div>
            <div class="skeleton h-3 w-20 rounded"></div>
          </div>
        </div>

        <div class="skeleton h-4 w-40 rounded"></div>
      </div>
    </div>

    <section>
      <div class="flex items-center justify-between mb-6">
        <div class="flex items-center gap-2">
          <div class="skeleton h-6 w-36 rounded"></div>
          <div class="skeleton badge h-5 w-8 rounded-full"></div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {[1, 2, 3, 4, 5, 6].map(() => <SkeletonCard type="user" />)}
      </div>
    </section>
  </div>
</PageContainer>
