---
import SkeletonTable from "@components/ui/skeletons/SkeletonTable.astro";
---

<div class="skeleton-debounced w-full flex flex-col gap-6">
  <div class="flex flex-col md:flex-row md:items-center justify-between gap-4">
    <div class="flex bg-base-200/60 p-1 rounded-xl border border-base-300 shadow-sm shrink-0 w-36 h-9">
      <div class="w-full h-full skeleton rounded-lg"></div>
    </div>
    <div class="w-40 h-9 skeleton rounded-xl border border-base-300"></div>
  </div>

  <SkeletonTable rows={6} columns={3} />
</div>

