---
import BaseLayout from "@layouts/BaseLayout.astro";
import TitlesApp from "./_components/Titulos";
---

<BaseLayout title="Títulos de Tickets">
  <div class="mx-auto flex w-full max-w-6xl flex-col gap-8">
    <h1 class="text-3xl font-bold">Títulos de Tickets</h1>

    <TitlesApp client:load />
  </div>
</BaseLayout>
