---
import { Icon } from "astro-icon/components";

interface Props {
  ariaLabel: string;
  class?: string;
  formId?: string;
}

const { ariaLabel, formId, class: className = "" } = Astro.props;
---

<button
  type="submit"
  form={formId}
  class:list={["btn btn-sm md:btn-md btn-soft btn-error gap-2", className]}
  aria-label={ariaLabel}
>
  <Icon name="boxicons:trash-filled" size={18} />
</button>
