---
import { Icon } from "astro-icon/components";

interface Props {
  ariaLabel: string;
  class?: string;
  [key: string]: any;
}

const { ariaLabel, class: className = "", ...attrs } = Astro.props;
---

<button
  type="button"
  class:list={["btn btn-sm md:btn-md btn-soft btn-neutral gap-2", className]}
  aria-label={ariaLabel}
  {...attrs}
>
  <Icon name="boxicons:lock-open-filled" size={18} />
</button>
