---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  label?: string;
}

const { href, label = "Nueva categoría" } = Astro.props;
---

<a href={href} class="btn btn-outline btn-sm gap-2">
  <Icon name="boxicons:folder-plus" size={16} />
  {label}
</a>
