---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  label: string;
  id?: string;
  icon?: string;
}

const { href, label, id, icon = "boxicons:plus" } = Astro.props;
---

<a id={id} href={href} class="btn btn-primary btn-sm gap-2">
  <Icon name={icon} size={16} />
  {label}
</a>
