---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  ariaLabel: string;
  buttonClass?: string;
}

const { href, ariaLabel, buttonClass = "" } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class:list={["btn btn-outline btn-square btn-sm", buttonClass]}
  aria-label={ariaLabel}
>
  <Icon
    name="boxicons:arrow-up-right-square"
    class="size-4"
    aria-hidden="true"
  />
</a>
