---
import { Icon } from "astro-icon/components";

interface Props {
  id: string;
  placeholder?: string;
}
const { id, placeholder = "Buscar operador..." } = Astro.props;
---

<div class="relative flex-1">
  <Icon
    name="boxicons:search"
    size={16}
    class="absolute left-3 top-1/2 -translate-y-1/2 text-base-content/30"
  />
  <input
    type="search"
    {id}
    placeholder={placeholder}
    class="input input-bordered input-sm w-full pl-9"
  />
</div>
