---
import { Icon } from "astro-icon/components";
---
<div id="global-toast-container" class="toast toast-end z-50">
</div>

<div id="toast-icon-templates" class="hidden" aria-hidden="true">
  <div id="template-success">
    <Icon name="boxicons:badge-check-filled" size={20} class="flex-shrink-0" />
  </div>
  <div id="template-error">
    <Icon name="boxicons:x-circle-filled" size={20} class="flex-shrink-0" />
  </div>
  <div id="template-warning">
    <Icon name="boxicons:alert-triangle-filled" size={20} class="flex-shrink-0" />
  </div>
  <div id="template-info">
    <Icon name="boxicons:info-square-filled" size={20} class="flex-shrink-0" />
  </div>
</div>
